<!-- <p>forgot-password works!</p> -->
<div class="container-fluid row">

    <div class="col-md-6 side-image d-flex justify-content-center align-items-center flex-column">
       <div>
        <img src="../../../assets/login.png" alt="loginimage" srcset="">
       </div>
    </div>
    <div *ngIf="!isSentEmail" class="col-md-6 right-side-content d-flex justify-content-center align-items-center flex-column">
        <div class="mb-5">
            <h2>LOGO</h2>
        </div>
        <div class="container outer-box ">
            <h3>Forgot Password</h3>
            <div class="inner-box">
                <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Enter Your Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email" [class.border-danger]="(loginForm.get('email')?.invalid && loginForm.get('email')?.touched )" [(ngModel)]="loginEmail" (ngModelChange)="checkValidEmail($event)">
                        <div *ngIf="!loginEmail && loginForm.get('email')?.touched" class="text-danger">*Email is required</div> 
                        <div *ngIf="loginEmail && !isValidEmail" class="text-danger">*Email is Invalid</div> 
                    </div>
                       
                    <button type="submit" style="padding: 10px;" class="mt-3 btn btn-primary w-100"  
                    [disabled]="loginForm.invalid">Send Link To My Email</button>
                </form>
            </div>
            <div class="go-back mt-3 text-center">
                <p>Back to Sign in?  <span><a class="text-decoration-none"  href="/login">  Go-back</a></span></p>
            </div>
        </div>
    </div>

    <div *ngIf="isSentEmail" class="col-md-6 right-side-content d-flex justify-content-center align-items-center flex-column">
        <div class="container outer-box2 ">
            <div class="inner-box2 d-flex justify-content-center align-items-center">
               <img src="../../../assets/emailsend.png" alt="" srcset="">
            </div>
            <div class="go-back mt-3 text-center">
                <p>Back to Sign in?  <span><a class="text-decoration-none"  routerLink="/login">  Go-back</a></span></p>
            </div>
        </div>
    </div>

 </div>
