.mat-divider {
  border-top-width: 2px;
  border-color: white;
}
.mat-list-item a {
  text-decoration: none;
  font-size: 17px;
  margin-left: 23px;;
  color: white;
  &:hover{
    color: #0e5e94 !important;
  }
}
.mat-list-item {
 // border: 2px solid;
  color: #e7edf6 !important;
  height: 44px !important;
 // margin-bottom: 4px;
  &:hover {
    background-color: white;
    border: 4px solid white;
    color: #0e5e94 !important;
    a {
      color: #0e5e94 !important; /* Change to match hover color */
    }
  } 
}

.list-item-active{
  background-color: white;
  border: 4px solid white;
  color: #0e5e94 !important;
}

.list-item-active a {
  color: #0e5e94 !important;
}


::ng-deep .cdk-overlay-connected-position-bounding-box{
  left: 17px !important;
  top: 210.433px !important;
}

::ng-deep .cdk-overlay-pane {
  top: 211.433px !important;
    width: 20% !important;
   // border: 2px solid;
}

::ng-deep #mat-menu-panel-0 {
  width: 100% !important;
  display: flex !important;
//   justify-content: normal !important;
//   align-items: center !important;
    border: 2px solid #4285f4;
}





  