<!-- <p>dashboard works!</p> -->
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
  <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>


  <mat-drawer-content>
    <app-header (toggleSidenavbarBtn)="sideBarToggler()"></app-header>
    <div class="container-fluid row p-0 m-0" style="background: #f5fafe;height: 100%;">
        <!-- active and inactive counts block  -->
        <div class="container row d-flex justify-content-lg-between align-items-center mt-4">
          <div class="col-3">
              <div class="activeStatus p-3 d-flex align-items-center ">
                  <div class=" "><img src="../../../assets/active.png" alt="" srcset=""></div>
                  <div class="ms-3 d-flex justify-content-lg-between flex-column">  
                      <div class="mb-1  fw-bold">Active</div> 
                      <div class="text-secondary">{{active}}</div>
                  </div>    
              </div>
          </div>
          <div class="col-3">
              <div class="inactiveStatus p-3  d-flex align-items-center ">
                  <div class=" "><img src="../../../assets/inactive.png" alt="" srcset=""></div>
                  <div class="ms-3 d-flex justify-content-lg-between flex-column">  
                      <div class="mb-0  fw-bold">Inactive</div> 
                      <div class="text-secondary">{{InActive}}</div>
                  </div>    
              </div>
          </div>
          <div class="col-6">
          
          </div>
        </div>
        
        <!-- table to show the users  -->
        <div class="container  mt-3">
          <div class="userList">
            <div class="p-2">
              <h4 class="ms-3">User List</h4>
            </div>
            <table class="table ">
                <thead>
                  <tr >
                    <th scope="col">Image</th>
                    <th scope="col">First Name <span><i class="fas fa-sort fa-xs" 
                      (click)="sortData('firstName')"></i></span></th>
                    <!-- <th scope="col">Middle Name <span><i class="fas fa-sort fa-xs"></i></span></th> -->
                    <th scope="col">Last Name <span>
                      <i class="fas fa-sort fa-xs" (click)="sortData('lastName')"></i></span>
                    </th>
                    <th scope="col">DOB 
                      <span><i class="fas fa-sort fa-xs" (click)="sortData('dob')"></i></span>
                    </th>
                    <th scope="col">Email 
                      <span><i class="fas fa-sort fa-xs" (click)="sortData('email')"></i></span>
                    </th>
                    <th scope="col">Phone 
                      <span><i class="fas fa-sort fa-xs" (click)="sortData('phone')"></i></span>
                    </th>
                    <th scope="col">City 
                      <span><i class="fas fa-sort fa-xs" (click)="sortData('city')"></i></span>
                    </th>
                    <th scope="col">State 
                      <span><i class="fas fa-sort fa-xs" (click)="sortData('state')"></i></span>
                    </th>
                    <th scope="col">Active Status </th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let user of allUsers">
                    <td scope="row">
                      <div class="userImage">
                        <img 
                          *ngIf="user?.imageUrl; else defaultImage"
                          [src]="user?.imageUrl"
                          width="40"
                          height="40"
                          alt="User Image"
                        />
                        <ng-template #defaultImage>
                          <img 
                            src="../../../assets/userpng.jpg"
                            width="40"
                            height="40"
                            alt="Default User Image"
                            class="text-black"
                          />
                        </ng-template>
                      </div>
                    </td>                    
                    <td>{{user?.firstName}}</td>
                    <!-- <td>{{user?.middleName}}</td> -->
                    <td>{{user?.lastName}}</td>
                    <td>{{user?.dob}}</td>
                    <td>{{user?.email}}</td>
                    <td>{{user?.phone}}</td>
                    <td>{{user?.addresses[0].city}}</td>
                    <td>{{getStateByCode(user?.addresses[0].state,user?.addresses[0].country)}}</td>
                    <td> 
                      <div class="d-flex justify-content-center align-items-center">
                        <button class="border-0 bg-transparent me-1" (click)="updateActiveStatus(user.userId)">
                          <i *ngIf="user?.active; else inactiveIcon" class="fas fa-eye fa-lg"></i>
                          <ng-template #inactiveIcon>
                            <i class="fas fa-eye-slash fa-lg"></i>
                          </ng-template>
                        </button>
                    </div>
                    </td>
                    <td >
                      <div class="d-flex justify-content-center align-items-center">
                        <mat-icon style="cursor: pointer;" class="m-1 text-primary" 
                        (click)="UpdateUserDetails(user?.userId)">edit_note</mat-icon>
                        <mat-icon style="cursor: pointer;" class="m-1 text-danger fs-5" 
                        (click)="openDialog(user?.userId,'1000ms', '1000ms')">backspace</mat-icon>
                        <!-- <mat-icon style="cursor: pointer;" class="m-1 text-danger fs-5" (click)="deleteUser(user?.userId)">backspace</mat-icon> -->
                      </div>
                    </td>
                  </tr>    
                </tbody>
            </table>
          </div> 
        </div> 
    </div>
  </mat-drawer-content>


</mat-drawer-container>



