:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
mat-drawer {
    width: 260px;
}
mat-drawer-container {
    height: 100%;
}

mat-drawer {
    background: #4285f4;
}
.userImage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


// table styling
.outer-box{
    height: 100vh;
    background: #f5fafe
}

.d-name{
    background-color: white;
}

.activeStatus{
    background-color: rgb(218 233 253);
    border-radius: 10px;
}
.inactiveStatus{
    background-color:rgb(247 244 225);
    border-radius: 10px;
}
.userList{
    border-radius: 20px;
    // background: rgb(206, 65, 65);
    background: white;
    height: 70vh;
}
table thead tr th{
    background-color: #dae9fd;
}
table tbody tr:nth-child(odd) td{
    background-color: white !important;
}

table tbody tr:nth-child(even) td{
    background-color: #f5f9fe !important;
}


  
