.side-nav{
    height: 100vh;
    background: #4285f4;
}

.heading{
    color: white;
    // padding: 15px;
    text-align: center;
    margin-top: 30px;
    border-bottom: 3px solid white;
}


/* Base styling */
.side-nav-btn {
    position: relative;
}

.overlay {
    position: relative; 
    padding: 6px;
    transition: background-color 0.3s; /* Smooth transition for background color */
    cursor: pointer;
}

.overlay a.btnn {
    margin: 10px;
    color: white;
    text-decoration: none;
}

/* Hover effect */
.overlay:hover {
    background-color: white; 
    border-radius: 10px;
}
.overlay:hover a{
    color: #4285f4;;
    font-weight: bold;
}

.overlay:hover img {
    // filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(200deg); 
    // filter: drop-shadow(2px 4px 6px #4285f4);
    filter: drop-shadow(3px 1px 0px #4285f4);
}





.outer-box{
    height: 100vh;
    background: #f5fafe
}

.d-name{
    background-color: white;
}

.activeStatus{
    background-color: rgb(218 233 253);
    border-radius: 10px;
}
.inactiveStatus{
    background-color:rgb(247 244 225);
    border-radius: 10px;
}
.userList{
    border-radius: 20px;
    // background: rgb(206, 65, 65);
    background: white;
    height: 72vh;
}
table thead tr th{
    background-color: #dae9fd;
}
table tbody tr:nth-child(odd) td{
    background-color: white !important;
}

table tbody tr:nth-child(even) td{
    background-color: #f5f9fe !important;
}

