<!-- <p>add-user works!</p> -->
<div class="container-fluid row p-0 m-0">
    <!-- side navbar  -->
    <div class="col-2 side-nav">
       <div class="heading">
        <p style="font-size: 25px;">Integrity Solution</p> 
       </div>
       <div class="side-nav-btn">
        <div class="overlay mt-3 ">
            <img src="../../../assets/layout-dashboard.png" alt="">
            <a class="btnn">DashBoard</a>
        </div>
        <div class="overlay mt-3">
            <img src="../../../assets/users.png" alt="">
            <a class="btnn">Manage User</a>
        </div>
        <div class="overlay mt-3">
            <img src="../../../assets/users.png" alt="">
            <a href="/add-user" class="btnn">Add User</a>
        </div>
      </div>
    </div>
    
      <!-- table content block  -->
      <div class="col-10 p-0 m-0">
        <div class="container-fluid p-0 m-0 outer-box">
            <div class="container d-name p-3 d-flex justify-content-lg-between align-items-center">
                <div class="name">
                    <i style="color: #4285f4;" class="fa-solid fa-square-poll-horizontal fa-xl"></i>
                </div>
                <div class="image me-3">
                   <img class="me-2" src="../../../assets/user.png" alt="userDP" srcset="">
                   <span class="fw-bold">Parul-saini</span>
                </div>
            </div>

        </div>
      </div>
      
</div>