:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
mat-drawer {
    width: 260px;
}
mat-drawer-container {
    height: 100%;
}

mat-drawer {
    background: #4285f4;
}
.userImage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

// form css
.user-form{
    border-radius: 13px;
    background: white;
    // height: 70vh;
}
.imgcircle{
    border: 2px dotted;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    background: #eeefef;
}
.uploadtext{
    font-weight: 500;
}
#imageUrl{
    display: none;
}
.browse{
    padding: 6px 10px;
    border-radius: 7px;
    background: aliceblue;    
}


















.side-nav{
    height: 100vh;
    background: #4285f4;
}

.heading{
    color: white;
    // padding: 15px;
    text-align: center;
    margin-top: 30px;
    border-bottom: 3px solid white;
}


/* Base styling */
.side-nav-btn {
    position: relative;
}

.overlay {
    position: relative; 
    padding: 6px;
    transition: background-color 0.3s; /* Smooth transition for background color */
    cursor: pointer;
}

.overlay a.btnn {
    margin: 10px;
    color: white;
    text-decoration: none;
}

/* Hover effect */
.overlay:hover {
    background-color: white; 
    border-radius: 10px;
}
.overlay:hover a{
    color: #4285f4;;
    font-weight: bold;
}

.overlay:hover img {
    // filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(200deg); 
    // filter: drop-shadow(2px 4px 6px #4285f4);
    filter: drop-shadow(3px 1px 0px #4285f4);
}
.outer-box{
    height: 100vh;
    background: #f5fafe
}

.d-name{
    background-color: white;
}
