<!-- <p>reset-password works!</p> -->
<div class="container-fluid row p-0 m-0">

    <div class="col-md-6 side-image d-flex justify-content-center align-items-center flex-column">
       <div>
        <img src="../../../assets/login.png" alt="loginimage" srcset="">
       </div>
    </div>
    <div class="col-md-6 p-0 m-0 right-side-content d-flex justify-content-center align-items-center flex-column">
        <div class="mb-5">
            <h2>LOGO</h2>
        </div>
        <div class="container outer-box ">
            <h3>Reset Your Password</h3>
            <div class="inner-box">
                <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">New Password</label>
                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password" formControlName="password" [class.border-danger]="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                        <div *ngIf="resetPasswordForm.get('password')?.invalid && 
                        (resetPasswordForm.get('password')?.touched && !resetPasswordForm.get('password')?.hasError('pattern'))" class="text-danger">*Password is required</div> 
                        <div  *ngIf="resetPasswordForm.get('password')?.hasError('pattern') " id="passwordHelpBlock" class="form-text text-danger">
                            Password must be 8 characters long and include at least one uppercase letter, one special character, and one number.
                        </div>
                    </div>
                        <label for="inputPassword5" class="form-label">Confirm Password</label>
                        <input type="Password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="confirm Password" formControlName="confirmPassword" [class.border-danger]="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">

                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty && !resetPasswordForm.errors?.['mismatch'])" class="text-danger">*Confirm password is required</div> 
                        <div *ngIf="resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.get('confirmPassword')?.touched" class="text-danger">*Password doen't match</div> 
                    
                    <button type="submit" style="padding: 10px;" class="mt-4 btn btn-primary w-100"  
                    [disabled]="resetPasswordForm.invalid">Reset Password</button>
                </form>
            </div>
            <!-- <div class="go-back mt-3">
                <p><span><a class="text-decoration-none"  href="/login">Forgot Password?</a></span></p>
            </div> -->
        </div>
    </div>

</div>
